{% extends 'base.html' %}
{% block content %}
  <div class="py-2 grid gap-2 grid-cols-[repeat(auto-fill,minmax(min(100%,250px),1fr))]">
    {% for post in post_list %}
      <article class="rounded-md bg-indigo-300 dark:bg-blue-950 p-4 ring-3 ring-indigo-50 sm:p-6 lg:p-8 flex flex-col">
        <h3 class="dark:text-white text-lg font-medium sm:text-xl"><a href="{{ post.get_absolute_url }}" class="hover:underline">{{ post.title }}</a></h3>
        <p class="mt-1 text-sm dark:text-white text-gray-700 line-clamp-3 flex-grow">{{ post.body }}</p>
        <p class="pt-2 mt-auto text-gray-500 text-xs font-medium">👤{{ post.author }}</p>
      </article>
    {% endfor %}
  </div>
  {# Pagination #}
  <nav class="flex justify-center mt-4">
    <ul class="flex gap-1 text-xs font-medium">
      {% if page_obj.has_previous %}
        <li>
          <a href="?page=1" class="inline-flex size-8 items-center justify-center rounded-sm border border-gray-100 dark:border-gray-700 bg-white dark:bg-gray-800 text-gray-900 dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700">
            <span class="sr-only">First Page</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-3" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M20 18l-6-6 6-6M13 18l-6-6 6-6" />
            </svg>
          </a>
        </li>
        <li>
          <a href="?page={{ page_obj.previous_page_number }}" class="inline-flex size-8 items-center justify-center rounded-sm border border-gray-100 dark:border-gray-700 bg-white dark:bg-gray-800 text-gray-900 dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700">
            <span class="sr-only">Previous Page</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-3" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
            </svg>
          </a>
        </li>
      {% endif %}

      {% for page_num in page_obj.paginator.page_range %}
        <li>
          <a href="?page={{ page_num }}" class="block size-8 rounded-sm border border-gray-100 dark:border-gray-700 bg-white dark:bg-gray-800 text-center leading-8 text-gray-900 dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700 {% if page_obj.number == page_num %} bg-white/20 border-white/20 dark:bg-gray-600{% endif %}">{{ page_num }}</a>
        </li>
      {% endfor %}

      {% if page_obj.has_next %}
        <li>
          <a href="?page={{ page_obj.next_page_number }}" class="inline-flex size-8 items-center justify-center rounded-sm border border-gray-100 dark:border-gray-700 bg-white dark:bg-gray-800 text-gray-900 dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700">
            <span class="sr-only">Next Page</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-3" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
            </svg>
          </a>
        </li>
        <li>
          <a href="?page={{ page_obj.paginator.num_pages }}" class="inline-flex size-8 items-center justify-center rounded-sm border border-gray-100 dark:border-gray-700 bg-white dark:bg-gray-800 text-gray-900 dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700">
            <span class="sr-only">Last Page</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-3" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4 6l6 6-6 6M11 6l6 6-6 6" />
            </svg>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endblock %}
